<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="<%= url("/styles.css") %>">
  <title> <%= name %>'s Account</title>
</head>
<body>
  <table>
    <tr>
      <th>Account: <%= name %> | Balance: <%= info[:tally].round(2) %> </th>
      <th></th>
      <th> </th>
    </tr>
    <tr>
      <th>Category</th>
      <th>Total Spent</th>
      <th>Average Transaction</th>
    </tr><center><% info[:categories].each do |category, c_info| %>
    </center><tr>
      <td><%= category %></td>
      <td><center>$<%= c_info[:tally].round(2).to_s %></center></td>
      <td><center>$<%= c_info[:average_transaction_cost].round(2).to_s %></center></td>
    </tr><% end %>
  </table>
</body>
</html>
